<header>

    <nav class="container navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><img src="assets/eth-logo-sm.png" style="max-width:2em;"/> EtherWallet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/" class="nav-item nav-link active" >Home</a>
                <a routerLink="/balance" class="nav-item nav-link" >Balance</a>
                <a routerLink="/wallet" class="nav-item nav-link" >Wallet</a>
            </div>
        </div>
    </nav>
</header>
