<div class="row">
    <div class="col-xs-12">
        <div class="">
            <p class="h2">Eth Balance</p>
        </div>
        <form class="form">
            <div class="form-group">
                <input type="text" name="user-address" class="form-control"
                [(ngModel)]="addressInput">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info"
                (click)='loadAddressData(addressInput)'
                [disabled]="!addressInput">
                    Check Address
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form">
            <div class="form-group">
                <span>
                    <label class="h3">Address</label> (test with: 0xd8612e506d060b5f81e7baa75c0f36d2720c628a)
                </span>
                <p>{{userAddress}}</p>
            </div>
            <div class="form-group">
                <label class="h3">
                    Balance
                </label>
                <p>{{userBalance}}</p>
            </div>
            <div class="form-group">
                <label class="h3">
                    Transactions
                </label>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Block #</td>
                            <td>Time</td>
                            <td>From</td>
                            <td>To</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let trans of userTransactionData">
                            <td>{{trans.blockNumber}}</td>
                            <td>{{trans.timeStamp}}</td>
                            <td>{{trans.from}}</td>
                            <td>{{trans.to}}</td>
                            <td>{{trans.value / 1000000000000000000}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="form-group">
                <label>
                    Block Info
                </label>
                <p>{{userBalance}}</p>  
            </div> -->
        </div>
    </div>
</div>
<!-- 
<div *ngIf="gethBlock">
    
    
    


    <h2>Current Block Height; {{this.currentBlock}}</h2>
    <h2>Current Block Difficulty; {{gethBlock.difficulty}}</h2>

    <h2>Your Account; {{this.coinbase}}</h2>
    <h2>Your Account Balance; {{this.coinBal}}</h2>



    <button (click)="onClickMe()">Click me!</button>
</div> -->