<div class="row">
    <div class="col-sm-12">
        <h2 class="">Wallet</h2>
        <hr/>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-default btn-block" (click)="generateAccount()">Generate</button>      
                    </div>
                    <div class="col-sm-6" *ngIf="generatedAccount">
                        <button class="btn btn-info btn-block" (click)="encryptPrivateKey()">Export</button>               
                    </div>
                </div>
            </div>
            
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-6" *ngIf="!generatedAccount">
                <!-- <div class="form">
                    <input type="file" class="form-control-file" [(ngModel)]="file" (change)="import(file)" placeholder="Import a wallet private key..." accept="text/plain" />
                </div> -->
                <form class="form" class="center-text">
                    <div class="form-group">
                        <label>Generate Account from Private Key</label>
                        <input name="importPrivateKeyInput" type="text" class="form-control" [(ngModel)]="importedPrivateKey"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" type="button" (click)="importPrivateKey()" [disabled]="!importedPrivateKey">Import</button>                            
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <!--<button class="btn btn-info btn-block" type="button" (click)="getBalance()" [disabled]="!getBalance" *ngif="!generatedAccount">Get Account Balance</button>-->
                <div class="form" *ngIf="generatedAccount">

                    <div class="form-group">
                        <label>Address: {{generatedAccount.address}}</label>
                    </div>
                    <div class="form-group">
                        <label>Private Key</label>
                        <p style="text-decoration: underline; cursor: pointer;" (click)="revealPrivateKey()">Click to reveal private key</p>
                    </div>
                    <button class="btn btn-info btn-block" type="button" (click)="getBalance()" [disabled]="!getBalance">Get Account Balance</button>
                    
                    <div class="form-group" *ngIf="userBalance || userNTKBalance">
                            <label>Balance</label>
                            <p>{{userBalance}} Eth </p>
                            <p>{{userNTKBalance}} NTK</p>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" *ngIf="generatedAccount">
            <div class="col-sm-6">
                <button class="btn btn-danger btn-block" (click)="generatedAccount=null">Clear Account</button>
            </div>
        </div>
    </div>
</div>