/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {

}
body, input[text], button {
  background-color: #343535;
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
}
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}


/* Common Site Styles */
.pull-left{
    float: left;
}

.pull-right{
    float: right;
}
