<div class="container" style="background-color: #F8F9F9;">
  <div class="row">
    <img  class="mx-auto" src="assets/eth-logo-sm.png" />
  </div>
  <div class="row d-sm-none d-md-block">
    <h1 class="mx-auto text-center">LEther Wallet Prototype Application</h1>
  </div>

  <div class="dropdown-divider"></div>

  <div class="row" style="margin-top:20px;">
    <h2 class="mx-auto text-center">Currency chart</h2>
      <div class="col-sm-12">
        <!-- btn -->
        <div class="row justify-content-center">
          <div ngbDropdown class="text-center">
            <button class="btn btn-lg btn-outline-dark btn-light" id="cryptoSelected" ngbDropdownToggle item-width="100%" style="display: block; width: 100%;">{{cryptoSelected.name}}</button>
            <div ngbDropdownMenu aria-labelledy="cryptoSelected" style="max-height: 300px; overflow-y: scroll; width: 80%;">
                <button class="dropdown-item" *ngFor="let coin of cryptoList" (click)="selectCrypto(coin)">{{coin.name}}</button>
            </div>
        </div>
      </div>

      <!-- Table will go here -->
      <div class="row" *ngIf="cryptoSelected" style="margin-top: 20px;">
          <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Symbol</td>
                    <td>{{cryptoSelected.symbol}} to aud</td>
                    <td>Market Cap</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{cryptoSelected.rank}}</td>
                    <td>{{cryptoSelected.symbol}}</td>
                    <td>{{cryptoSelected.price_aud}}</td>
                    <td>{{cryptoSelected.market_cap_aud}}</td>
                </tr>
            </tbody>
          </table>
      </div>
      </div>
  </div>


  <!-- Content for the application homepage goes here -->
</div>
