<div class="row">
    <div class="col-sm-12">
            <h2 class="">EthWallet Prototype Application</h2>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <form class="form">
                        <div class="form-group">
                            <label>Select</label>
                            <select name="cryptoSelected" class="form-control" [(ngModel)]="cryptoSelected" (change)="selectCrypto()">
                                <option *ngFor="let coin of cryptoList" [value]="coin.id" >{{coin.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div *ngIf="cryptoStats">
                         <div>
                            <div>
                                <h3>{{cryptoStats.name}}</h3>
                            </div>
                            <div class="table table-responsive">
                                <thead>
                                    <tr>
                                        <td>Symbol</td>
                                        <td>Rank</td>
                                        <td>Price</td>
                                        <td>Market Cap</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{cryptoStats.symbol}}</td>
                                        <td>{{cryptoStats.rank}}</td>
                                        <td>{{cryptoStats.price_aud}}</td>
                                        <td>{{cryptoStats.market_cap_aud}}</td>
                                    </tr>
                                </tbody>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
    </div>
</div>